<div class="container mx-auto px-4 py-6">
    <div class="flex flex-col md:flex-row justify-between items-center bg-white rounded-2xl p-4 mb-6 shadow-lg">
      <div class="w-full sm:w-2/5 mb-4 sm:mb-0">
        <app-search [searchType]="'companyPosts'"></app-search>
      </div>
      <div class="flex items-center">
        <app-filter [filterOptions]="filterOptions"></app-filter>
        <button type="button" (click)="addPost()" class="ml-4 px-6 py-3 bg-orange-500 hover:bg-orange-600 text-white font-semibold rounded-xl transition duration-300 ease-in-out transform hover:-translate-y-1 hover:shadow-lg">
          <i class="fa-solid fa-plus mr-2"></i>
          Add Post
        </button>
      </div>
    </div>
  
    <div class="bg-gray-100 rounded-2xl p-4">
      @if (posts) {
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
          @for (post of posts; track post._id) {
            <app-post [post]="post" [isEmployer]="true"></app-post>
          }
        </div>

        <div class="mt-8">
          <app-pagination [currentPageNo]="pageNo" [maxItemInPerPage]="maxItemInPerPage" [totalNoOfEntries]="totalPosts" [typeOfEntries]="'employerPosts'"></app-pagination>
        </div>
      } @else {
        <div class="w-full text-center py-10">
          <p class="text-lg text-orange-500 font-semibold">No posts uploaded yet.</p>
        </div>
      }
    </div>
  </div>