<i class="fa-solid fa-arrow-left cursor-pointer text-xl" (click)="loginPage()"></i>
<div class="flex justify-center space-x-10">

    <div class="forgot-pass bg-cover bg-center h-96 w-1/2 my-auto"></div>

    <div class="w-1/2 h-full my-auto">

        <form [formGroup]="forgotPasswordForm" (ngSubmit)="submitOTP()">

            <div class="flex flex-col my-5 mx-3">
                <h1 class="text-2xl text-mainGrey font-bannerText mx-auto my-5">Forgot Password?</h1>
                <tui-input formControlName="email">
                    Email
                    <input tuiTextfield type="email" />
                </tui-input>
                <small
                    *ngIf="forgotPasswordForm.get('email')?.errors?.['required'] && forgotPasswordForm.get('email')?.touched"
                    class="text-red-500 font-bannerText">
                    *email required
                </small>
                <small *ngIf="forgotPasswordForm.get('email')?.errors?.['email']"
                    class="text-red-500 font-bannerText">
                    *enter a valid email
                </small>
            </div>

            <div class="flex justify-between mx-3 my-5 space-x-5">
                <div>
                    <tui-input formControlName="OTP" class="w-fit">
                        Enter OTP
                        <input tuiTextfield type="email" />
                    </tui-input>
                    <small
                        *ngIf="forgotPasswordForm.get('OTP')?.errors?.['required'] && forgotPasswordForm.get('OTP')?.touched"
                        class="text-red-500 font-bannerText">
                        *OTP required
                    </small>
                    <small *ngIf="forgotPasswordForm.get('OTP')?.errors?.['minlength']"
                        class="text-red-500 font-bannerText">
                        *enter a valid OTP
                    </small>
                </div> 

                <div>
                    <button
                        class="flex justify-center w-fit ml-auto py-4 px-4 font-bannerText rounded-lg bg-mainColor text-white cursor-pointer"
                        type="button"
                        [disabled]="time > 0"
                        (click)="requestOTP()">{{ time > 0 ? 'Resend in ' + minutes + ':' + seconds : otpButton }}
                    </button>
                </div>

            </div>
            <div class="flex flex-col my-5 mx-3">
                <tui-input-password class="tui-space_top-2" formControlName="password">
                    New Password
                </tui-input-password>
                <small
                    *ngIf="forgotPasswordForm.get('password')?.errors?.['required'] && forgotPasswordForm.get('password')?.touched"
                    class="text-red-500 font-bannerText">
                    *password is required
                </small>
                <small *ngIf="forgotPasswordForm.get('password')?.errors?.['noSpaceAllowed']"
                    class="text-red-500 font-bannerText">
                    *space not allowed
                </small>
                <small *ngIf="forgotPasswordForm.get('password')?.errors?.['minlength']"
                    class="text-red-500 font-bannerText">
                    *password should have minimum 8 characters
                </small>
            </div>

            <div class="flex flex-col my-5 mx-3">
                <tui-input-password class="tui-space_top-2" formControlName="confirmPassword">
                    Confirm password
                </tui-input-password>
                <small
                    *ngIf="forgotPasswordForm.get('confirmPassword')?.errors?.['required'] && forgotPasswordForm.get('confirmPassword')?.touched"
                    class="text-red-500 font-bannerText">
                    *confirm password is required
                </small>
                <small *ngIf="forgotPasswordForm.get('confirmPassword')?.errors?.['noSpaceAllowed']"
                    class="text-red-500 font-bannerText">
                    *space not allowed
                </small>
                <small *ngIf="forgotPasswordForm.get('confirmPassword')?.errors?.['minlength']"
                    class="text-red-500 font-bannerText">
                    *password should have minimum 8 characters
                </small>
                <small *ngIf="forgotPasswordForm?.errors?.['passwordMismatch']" class="text-red-500 font-bannerText">
                    *new password and confirm password should be same
                </small>
            </div>
            <div class="px-3 my-3">
                <button class="flex justify-center w-full ml-auto py-4 px-4 font-bannerText rounded-lg bg-mainColor text-white" type="submit">submit</button>
            </div>
        </form>
    </div>
</div>