<div class="flex w-full h-screen">
    <div class="w-3/12 px-5 py-2">
        <app-search></app-search>
    
        @if (profileType == 'Users') {
            @if (context == 'user') {
                <div class="flex justify-center py-1">
                    <div class="text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:text-gray-400 dark:border-gray-700">
                        <ul class="flex flex-wrap -mb-px">
                            <li class="me-2">
                                <p (click)="showUsers()" class="inline-block p-4 text-mainColor border-b-2 border-mainColor rounded-t-lg active dark:text-blue-500 dark:border-blue-500 cursor-pointer">People</p>
                            </li>
                            <li class="me-2">
                                <p (click)="showEmployers()" class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 cursor-pointer" aria-current="page">Companies</p>
                            </li>
                        </ul>
                    </div>
                </div>
            }
    
            @for (people of connections?.connections?.users; track $index) {
                @if (context == 'user') {
                    <app-people [context]="'User'" [userData]="people" [viewType]="'Inbox view'"></app-people>
                } @else if (context == 'employer') { 
                    <app-people [context]="'Employer'" [userData]="people" [viewType]="'Inbox view'"></app-people>
                }
            }
        } @else if (profileType == 'Employers') {
            <div class="flex justify-center py-1">
                <div class="text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:text-gray-400 dark:border-gray-700">
                    <ul class="flex flex-wrap -mb-px">
                        <li class="me-2">
                            <p (click)="showUsers()" class="inline-block p-4 border-b-2 border-transparent rounded-t-lg dark:text-blue-500 dark:border-blue-500 cursor-pointer">People</p>
                        </li>
                        <li class="me-2">
                            <p (click)="showEmployers()" class="inline-block p-4 text-mainColor border-b-2 border-mainColor rounded-t-lg active hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 cursor-pointer" aria-current="page">Companies</p>
                        </li>
                    </ul>
                </div>
            </div>
    
            @for (people of connections?.connections?.employers; track $index) {
                <app-company [employerData]="people" [viewType]="'Inbox view'"></app-company>
            }
        }

    </div>

    @if (receiver_id && oppositeUserData) {
        <div class="w-9/12 border-2 my-2 mx-3 rounded-lg flex flex-col">
            <div>
                <div class="flex mx-5 my-1 border-b-2 py-2">
                    <img [src]="oppositeUserData.profile_url" alt="profile" class="w-14 h-14 rounded-full">
                    @if (profileType == 'Users') {
                        <div class="mx-3 items-center">
                            <h1 class="text-lg text-black font-bannerText">{{ oppositeUserData.firstName }} {{ oppositeUserData.lastName }}</h1>
                            <h1 class="text-sm text-thirdGrey font-bannerText">online</h1>
                        </div>
                    } @else if (profileType == 'Employers') {
                        <div class="mx-3 items-center">
                            <h1 class="text-lg text-black font-bannerText">{{ oppositeUserData.companyName }}</h1>
                            <h1 class="text-sm text-thirdGrey font-bannerText">online</h1>
                        </div>
                    }
                </div>
            </div>
        
            <div class="chat-messages flex-grow overflow-y-auto p-4">
                <div *ngFor="let message of messages; trackBy: trackByCreated" 
                     class="message my-2 p-2 rounded-lg max-w-xs" 
                     [ngClass]="{'sent': message.sender === userData._id, 'received': message.sender !== userData._id}">
                    @if (message.isMediaFile) {
                        @switch (message.isMediaFile) {
                            @case (message.type == 'video') {
                                <div class="relative w-fit">
                                    @if(message.sender === userData._id) {
                                      <div class="absolute top-2 right-2 z-10">
                                        <tui-hosted-dropdown #dropdown [content]="content" [tuiDropdownMaxHeight]="500">
                                          <button size="s" appearance="solid" tuiIconButton type="button" [icon]="arrow" [pseudoHover]="dropdown.open || null"></button>
                                        </tui-hosted-dropdown>
                                        <ng-template #content>
                                          <tui-data-list size="s" class="list">
                                            <button tuiOption (click)="deleteMessage(message._id)">Delete</button>
                                          </tui-data-list>
                                        </ng-template>
                                      </div>
                                    }
                                    <div class="w-fit h-fit">
                                      <video class="w-fit rounded-lg overflow-hidden shadow-lg" controls>
                                        <source [src]="message.content" type="video/mp4">
                                      </video>
                                    </div>
                                    <span class="message-time text-xs text-gray-500 block mt-1">{{ message.createdAt | date:'shortTime' }}</span>
                                  </div>
                            }
                            @case (message.type == 'image') {
                                <div class="relative w-fit">
                                    @if(message.sender === userData._id) {
                                      <div class="absolute top-2 right-2 z-10">
                                        <tui-hosted-dropdown #dropdown [content]="content" [tuiDropdownMaxHeight]="500">
                                          <button size="s" appearance="solid" tuiIconButton type="button" [icon]="arrow" [pseudoHover]="dropdown.open || null"></button>
                                        </tui-hosted-dropdown>
                                        <ng-template #content>
                                          <tui-data-list size="s" class="list">
                                            <button tuiOption (click)="deleteMessage(message._id)">Delete</button>
                                          </tui-data-list>
                                        </ng-template>
                                      </div>
                                    }
                                    <div class="max-w-xs max-h-80 overflow-hidden">
                                        <img class="w-full h-auto object-contain" [src]="message.content" alt="image description">
                                    </div>                                      
                                    <span class="message-time text-xs text-gray-500 block mt-1">{{ message.createdAt | date:'shortTime' }}</span>
                                  </div>
                            }
                            @default {
                                <div>
                                    @if(message.sender === userData._id) {
                                        <div class="float-right">
                                            <tui-hosted-dropdown #dropdown [content]="content" [tuiDropdownMaxHeight]="500">
                                                <button size="s" appearance="solid" tuiIconButton type="button" [icon]="arrow" [pseudoHover]="dropdown.open || null"></button>
                                            </tui-hosted-dropdown>
                                            <ng-template #content>
                                                <tui-data-list size="s" class="list">
                                                    <button tuiOption (click)="deleteMessage(message._id)">Delete</button>
                                                </tui-data-list>
                                            </ng-template>
                                        </div>
                                    }
                                
                                    <a [href]="message.content" target="_blank" class="block max-w-96 max-h-80 overflow-hidden mt-2">
                                        <div class="flex items-center space-x-2 cursor-pointer bg-blue-50 p-3 rounded-lg shadow-md hover:bg-blue-100 transition-colors">
                                            <svg class="w-8 h-8 text-blue-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 3v18c0 1.1.9 2 2 2h6c1.1 0 2-.9 2-2V9l-6-6H9c-1.1 0-2 .9-2 2zm8 7V4l4 4h-4z"></path>
                                            </svg>
                                            <div>
                                                <span class="text-sm font-semibold text-blue-600 block">Document</span>
                                                <span class="text-xs text-gray-500">Click to view</span>
                                            </div>
                                        </div>
                                    </a>
                                
                                    <span class="message-time text-xs text-gray-500 block mt-1">{{ message.createdAt | date:'shortTime' }}</span>
                                </div>
                                
                                  
                            }
                        }
                    } @else if (message.type == 'text') {
                        <div class="flex items-center">
                            <p class="mr-2">{{ message.content }}</p>
                            @if(message.sender === userData._id) {
                                <div class="float-right">
                                    <tui-hosted-dropdown #dropdown [content]="content" [tuiDropdownMaxHeight]="500" >
                                        <button size="s" appearance="solid" tuiIconButton type="button" [icon]="arrow" [pseudoHover]="dropdown.open || null"></button>
                                    </tui-hosted-dropdown>
                                    <ng-template #content>
                                        <tui-data-list size="s" class="list">
                                            <button tuiOption (click)="deleteMessage(message._id)"> Delete </button>
                                        </tui-data-list>
                                    </ng-template>
                                </div>
                            }
                        </div>
                        <span class="message-time text-xs text-gray-500">{{ message.createdAt | date:'shortTime' }}</span>
                    } @else if (message.type == 'URL') {
                        <div class="relative flex-col">
                            @if(message.sender === userData._id) {
                                <div class="absolute top-0 right-0 mt-2 mr-2">
                                    <tui-hosted-dropdown #dropdown [content]="content" [tuiDropdownMaxHeight]="500">
                                        <button size="s" appearance="solid" tuiIconButton type="button" [icon]="arrow" [pseudoHover]="dropdown.open || null"></button>
                                    </tui-hosted-dropdown>
                                    <ng-template #content>
                                        <tui-data-list size="s" class="list">
                                            <button tuiOption (click)="deleteMessage(message._id)"> Delete </button>
                                        </tui-data-list>
                                    </ng-template>
                                </div>
                            }
                            <div class="flex flex-col w-full items-center justify-center bg-gray-100 py-12">
                                <h1 class="text-xl font-bold text-gray-800 mb-6">Join the Meeting</h1>
                                <a (click)="openLink(message.content)" class="px-6 py-3 bg-indigo-600 text-white rounded-md shadow-md hover:bg-indigo-700 transition-colors duration-300">
                                  Join Now
                                </a>
                                <p class="mt-6 text-gray-600 text-center max-w-md">
                                  Click the "Join Now" button to enter the meeting and engage with your team
                                  or clients in real-time.
                                </p>
                            </div>
                        </div>                        
                        <span class="message-time px-2 float-left text-xs text-gray-500">{{ message.createdAt | date:'shortTime' }}</span>
                    } @else if (message.type == 'interview') {
                        @if (message?.interviewDetails?.status !== undefined && message.interviewDetails.status === 'canceled') {
                            <div class="relative flex items-center">
                                @if(message.sender === userData._id) {
                                    <div class="absolute top-0 right-0 mt-2 mr-2">
                                        <tui-hosted-dropdown #dropdown [content]="content" [tuiDropdownMaxHeight]="500">
                                            <button size="s" appearance="solid" tuiIconButton type="button" [icon]="arrow" [pseudoHover]="dropdown.open || null"></button>
                                        </tui-hosted-dropdown>
                                        <ng-template #content>
                                            <tui-data-list size="s" class="list">
                                                <button tuiOption (click)="deleteMessage(message._id)"> Delete </button>
                                            </tui-data-list>
                                        </ng-template>
                                    </div>
                                }
                                <div class="flex items-center space-x-4 p-4 bg-gray-100 rounded-lg border border-red-300 w-full">
                                    <div class="flex-shrink-0">
                                        <img [src]="message.interviewDetails.employer.profile_url" alt="Employer Logo" class="w-12 h-12 rounded-full">
                                    </div>
                                    <div>
                                        <p class="text-lg text-red-600 font-bold">Interview Canceled</p>
                                        <p class="text-sm text-gray-700">We regret to inform you that your scheduled interview has been canceled.</p>
                                        <div class="mt-2">
                                            <!-- <span class="text-xs text-gray-400">{{ message.createdAt | date:'shortTime' }}</span> -->
                                        </div>
                                    </div>
                                </div>
                            </div>                          
                        } @else {
                            <div class="relative flex items-center space-x-2">
                                @if(message.sender === userData._id) {
                                    <div class="absolute top-0 right-0 mt-2 mr-2">
                                        <tui-hosted-dropdown #dropdown [content]="content" [tuiDropdownMaxHeight]="500">
                                            <button size="s" appearance="solid" tuiIconButton type="button" [icon]="arrow" [pseudoHover]="dropdown.open || null"></button>
                                        </tui-hosted-dropdown>
                                        <ng-template #content>
                                            <tui-data-list size="s" class="list">
                                                <button tuiOption (click)="deleteMessage(message._id)"> Delete </button>
                                                <button tuiOption (click)="reschedule(message)"> Reschedule Interview</button>
                                                <button tuiOption (click)="cancelInterview(message)"> Cancel Interview </button>
                                            </tui-data-list>
                                        </ng-template>
                                    </div>
                                }
                                <div class="flex items-center space-x-2 w-full">
                                    <img [src]="message.interviewDetails.employer.profile_url" alt="Employer Logo" class="w-8 h-8 rounded-full">
                                    <div class="bg-blue-200 rounded-lg p-3 flex-1">
                                        <p class="text-sm text-blue-800 font-semibold">Interview Scheduled</p>
                                        <p class="text-xs text-blue-700">Date: {{ message.interviewDetails.interviewDate | date }}</p>
                                        <p class="text-xs text-blue-700">Time: {{ message.interviewDetails.interviewTime }}</p>
                                        <p class="text-xs text-blue-700">Status: {{ message.interviewDetails.status }}</p>
                                        <span class="message-time text-xs text-gray-500">{{ message.createdAt | date:'shortTime' }}</span>
                                    </div>
                                </div>
                            </div>                                                     
                        }
                        
                    }
                </div>
            </div>

            @if (isOpen) {
                <div class="w-full">
                    <div class="flex flex-col float-right items-center border-t-2 border-gray-300 w-fit bg-white shadow-lg rounded-lg p-4 mt-4">
                        <ul class="space-y-2">
                            @if (context == 'employer') {
                                <li (click)="openInterviewScheduleModal()" class="py-2 px-4 hover:bg-gray-100 rounded-md cursor-pointer transition-colors duration-200">Schedule Interview</li>
                            }
                            <li (click)="openLiveMeetInNewTab(userData._id)" class="py-2 px-4 hover:bg-gray-100 rounded-md cursor-pointer transition-colors duration-200">Host Meet</li>
                            <li (click)="openMeetUrlSendModal()" class="py-2 px-4 hover:bg-gray-100 rounded-md cursor-pointer transition-colors duration-200">Send Meet URL</li>
                            <li (click)="openShareMediaModal()" class="py-2 px-4 hover:bg-gray-100 rounded-md cursor-pointer transition-colors duration-200">Share Media</li>
                        </ul>
                    </div>                      
                </div>                
            }
        
            <div class="flex items-center border-t-2 p-2">
                <input type="text" placeholder="Enter message..." class="flex-grow border-none px-3 py-2 focus:outline-none" [(ngModel)]="message">
                <div class="flex items-center space-x-6 px-3">    
                    <i class="fa-solid fa-plus text-xl cursor-pointer" (click)="showOptions()"></i>
                    <i class="fa-solid fa-paper-plane text-xl cursor-pointer" (click)="sendMessage()"></i>
                </div>
            </div>
        </div>
    }
</div>
