<div class="flex w-full h-screen">
    <div class="w-3/12 px-5 py-2">
        <app-search></app-search>
    
        <div class="flex justify-center py-1">
            <div class="text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:text-gray-400 dark:border-gray-700">
                <ul class="flex flex-wrap -mb-px">
                    <li class="me-2">
                        <p class="inline-block p-4 text-mainColor border-b-2 border-mainColor rounded-t-lg active dark:text-blue-500 dark:border-blue-500 cursor-pointer">People</p>
                    </li>
                    <li class="me-2">
                        <p  class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 cursor-pointer" aria-current="page">Companies</p>
                    </li>
                </ul>
            </div>
        </div>

        @for (people of sampleUser; track $index) {
            <app-people [userData]="people" [viewType]="'Inbox view'"></app-people>
        }

    </div>

    @if (receiver_id && oppositeUserData) {
        <div class="w-9/12 border-2 my-2 mx-3 rounded-lg flex flex-col">
            <div>
                <div class="flex mx-5 my-1 border-b-2 py-2">
                    <img [src]="oppositeUserData.profile_url" alt="profile" class="w-14 h-14 rounded-full">
                    <div class="mx-3 items-center">
                        <h1 class="text-lg text-black font-bannerText">{{ oppositeUserData.firstName }} {{ oppositeUserData.lastName }}</h1>
                        <h1 class="text-sm text-thirdGrey font-bannerText">online</h1>
                    </div>
                </div>
            </div>
        
            <div class="chat-messages flex flex-col flex-grow overflow-y-auto p-4">
                <div *ngFor="let message of messages; trackBy: trackByCreated" 
                     class="message my-2 p-2 rounded-lg max-w-xs" 
                     [ngClass]="{'sent': message.sender === user_id, 'received': message.sender !== user_id}">
                    <p>{{ message.content }}</p>
                    <span class="message-time text-xs text-gray-500">{{ message.createdAt | date:'shortTime' }}</span>
                </div>
            </div>
        
            <div class="flex items-center border-t-2 p-2">
                <input type="text" placeholder="Enter message..." class="flex-grow border-none px-3 py-2 focus:outline-none" [(ngModel)]="message">
                <div class="flex items-center space-x-6 px-3">
                    <i class="fa-solid fa-plus text-xl cursor-pointer"></i>
                    <i class="fa-solid fa-paper-plane text-xl cursor-pointer" (click)="sendMessage()"></i>
                </div>
            </div>
        </div>
        
    }
</div>
