<div class="flex justify-between w-full px-5 py-3">
    <div class="border-2 rounded-lg w-full">
        <div class="flex-col w-full justify-start px-5 pt-5">
            <div class="flex justify-between">
                <h1 class="text-3xl text-mainGrey font-bold">{{ education.universityName }}</h1>
                <div class="flex gap-2">
                    <span class="flex text-mainColor pt-2 text-sm font-bannerText items-start cursor-pointer" (click)="deleteEducation(education._id)"><i class="fa-solid fa-trash text-sm pr-1"></i>Delete</span>
                    <span class="flex text-mainColor pt-2 text-sm font-bannerText items-start cursor-pointer" (click)="openEditEducation(education._id)"><i class="fa-solid fa-pen text-sm pr-1"></i>Edit</span>
                </div>
            </div>
            @if (education.distance) {
                <span class="flex items-center text-mainGrey text-sm font-bannerText my-2"><i class="fa-solid fa-location-dot text-mainColor text-lg mr-1"></i>Distance Education</span>
            } @else {
                <span class="flex items-center text-mainGrey text-sm font-bannerText my-2"><i class="fa-solid fa-location-dot text-mainColor text-lg mr-1"></i>{{ education.city }}, {{ education.state }}</span>
            }
            <h2 class="text-lg text-thirdGrey font-bannerText">{{ education.subject }}</h2>
            @if (education.present) {
                <h3 class="text-lg text-secondGrey font-bannerText">{{ education.startDate | date }} - present</h3>
            } @else {
                <h3 class="text-lg text-secondGrey font-bannerText">{{ education.startDate | date }} - {{ education.endDate | date }}</h3>
            }
        </div>
    </div>
</div>