<div class="flex bg-secndWhite">
    <aside class="w-1/5 mx-10 my-10">
        <app-side-bar></app-side-bar>
    </aside>    
    <main class="bg-white rounded-2xl w-4/5 mt-10 mb-auto mr-10">
        <div class="flex">
            <div class="bg-cover bg-center w-1/4 h-full mx-10 my-10">
                <img class="rounded-xl" src="../../../../../assets/comp-dp.jpg">
            </div>
            <div class="w-3/4 my-10">
                <div class="flex items-end ">
                    <h1 class="text-6xl text-mainGrey font-bannerText mr-4">Mapout</h1>
                    <span class="flex">
                        <i class="fa-solid fa-location-dot text-2xl text-mainColor"></i>
                        <h1 class="text-2xl text-mainGrey font-bannerText ml-2">Hyderabad, Telengana</h1>
                    </span>                                                                                     
                </div>
                <span class="my-3">
                    <h1 class="text-lg text-thirdGrey font-bannerText">IT Services and Consulting</h1>
                </span>
                <span class="flex items-end">
                    <i class="fa-solid fa-people-group text-2xl text-mainGrey mr-2"></i>
                    <h1 class="text-lg text-secondGrey font-bannerText">250-500</h1>
                </span>
                <p class="text-sm text-black font-bannerText mr-10">
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the In
                </p>
            </div>
            <div class="ml-auto">
                <i class="fa-regular fa-pen-to-square text-mainGrey text-2xl py-5 px-5"></i>
            </div>
        </div>
        <div class="flex justify-between bg-mainColor rounded-xl mx-10 mb-10">
            <div class="flex flex-col my-10 mx-10">
                <div class="flex text-white text-xl items-center mb-4">
                    <i class="fa-regular fa-envelope text-3xl"></i>
                    <h1 class="ml-2">mapoutoffialgmail.com</h1>
                </div>
                <div class="flex text-white text-xl items-center mb-4">
                    <i class="fa-solid fa-phone text-3xl"></i>
                    <h1 class="ml-2">+91 9999999999</h1>
                </div>
                <div class="flex text-white text-xl items-center mb-4">
                    <i class="fa-solid fa-location-dot text-3xl"></i>
                    <h1 class="ml-2">Hyderabad, Telengana</h1>
                </div>
            </div>
            <div class="flex flex-col my-10 mx-10">
                <div class="flex text-white text-xl items-center mb-4">
                    <i class="fa-solid fa-link text-3xl"></i>
                    <h1 class="ml-2">www.mapout.com</h1>
                </div>
                <div class="flex text-white text-xl items-center mb-4">
                    <i class="fa-brands fa-x-twitter text-3xl"></i>
                    <h1 class="ml-2">www.x.com/mapout</h1>
                </div>
                <div class="flex text-white text-xl items-center mb-4">
                    <i class="fa-brands fa-instagram text-3xl"></i>
                    <h1 class="ml-2">www.instagram.com/mapout</h1>
                </div>
            </div>
        </div>
    </main>
</div>
<footer class="bg-secndWhite">
    <app-footer></app-footer>
</footer>