<div class="flex justify-between items-center bg-white rounded-2xl my-3">
    <div class="mx-5 w-2/5">
        <app-search [searchType]="'companyJobs'"></app-search>
    </div>
    <div class="flex items-center mr-5">
        <app-filter [filterOptions]="filterOptions"></app-filter>
        <button type="button" (click)="addJob()" class="text-white bg-mainColor hover:bg-orange-400 font-bannerText rounded-xl text-sm py-3 px-6 ml-4">
            <i class="fa-solid fa-plus mr-2"></i>
            Add
        </button>
    </div>
</div>

<div class="bg-white rounded-2xl  mx-5">

    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        @if (jobs && jobs.length) {
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-white uppercase bg-mainColor dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        No:
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Job Title
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Job Type
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Location
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Posted Date
                    </th>
                    <th scope="col" class="px-6 py-3">

                    </th>
                </tr>
            </thead>
            <tbody>
                @for (job of jobs; track job._id; let idx = $index) {
                <tr
                    class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{ (pageNo - 1) * maxItemInPerPage + idx + 1 }}
                    </th>
                    <td class="px-6 py-4">
                        {{ job.jobTitle }}
                    </td>
                    <td class="px-6 py-4">
                        <i class="fa-solid fa-briefcase mr-2 my-3"></i>{{ job.jobType }}
                    </td>
                    @if (job.remort) {
                    <td class="px-6 py-4">
                        <i class="fa-solid fa-location-dot text-lg text-mainColor mr-2"></i>Anywhere (remort)
                    </td>
                    } @else {
                    <td class="px-6 py-4">
                        <i class="fa-solid fa-location-dot text-lg text-mainColor mr-2"></i>{{ job.city }},{{ job.state
                        }}
                    </td>
                    }
                    <td class="px-6 py-4">
                        {{ job.postedAt | date }}
                    </td>
                    <td class="px-6 py-4">
                        <div class="flex justify-between text-mainGrey text-sm">
                            <i class="fa-regular fa-pen-to-square cursor-pointer" (click)="editJob(job._id)"></i>
                            <i class="fa-solid fa-trash cursor-pointer" (click)="deleteJob(job._id)"></i>
                            <i class="fa-solid fa-list-check cursor-pointer"
                                [routerLink]="['/employer/job/applicants', job._id]"></i>
                            <i class="fa-solid fa-circle-xmark cursor-pointer" (click)="closeHiring(job._id)"></i>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
        } @else {
        <div class="w-full bg-white">
            <h1 class="text-red-600 text-center text-xl font-bannerText py-5">You currently have no job posts</h1>
        </div>
        }
    </div>

</div>
@if (jobs && jobs.length) {
<app-pagination [currentPageNo]="pageNo" [maxItemInPerPage]="maxItemInPerPage" [totalNoOfEntries]="totalJobs"
    [typeOfEntries]="'employerJobs'" [noOfShowingEntries]="jobs.length"></app-pagination>
}