<div class="flex bg-secndWhite">
    <aside class="w-1/5 mx-10 my-10">
        <app-side-bar></app-side-bar>
    </aside> 
    <main class="bg-secndWhite rounded-2xl w-4/5 mt-10 mb-auto mr-10">
        <div class="flex justify-between bg-white rounded-2xl">
            <div class="relative my-5 mx-5 w-2/5">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                    </svg>
                </div>
                <input type="search" id="default-search" class="block w-full p-4 ps-10 text-sm text-mainGrey border border-gray-300 rounded-2xl bg-secndWhite focus:ring-mainColor focus:border-mainColor dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-mainColor" placeholder="Search..."/>
                <button type="submit" class="text-white absolute end-2.5 bottom-2.5 bg-mainColor hover:bg-orange-400 focus:ring-4 focus:outline-none focus:ring-orange-300 font-bannerText rounded-xl text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button>
            </div>
            <div class="my-auto ml-auto mr-5">
                <button type="button" class="text-white bg-mainColor hover:bg-orange-400 font-bannerText rounded-xl text-sm px-6 py-3"><i class="fa-solid fa-plus mr-2"></i>Add</button>
            </div>
        </div>
        <div class="bg-white rounded-2xl mt-2">

            <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-white uppercase bg-mainColor dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-3">
                                No:
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Job Title
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Job Type
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Location
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Posted Date
                            </th>
                            <th scope="col" class="px-6 py-3">
                                
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                1.
                            </th>
                            <td class="px-6 py-4">
                                Full Stack Developer
                            </td>
                            <td class="px-6 py-4">
                                <i class="fa-solid fa-briefcase mr-2 my-3"></i>Full Time
                            </td>
                            <td class="px-6 py-4">
                                <i class="fa-solid fa-location-dot text-lg text-mainColor mr-2"></i>Banglore, Karnataka
                            </td>
                            <td class="px-6 py-4">
                                12/2/2024
                            </td>
                            <td class="px-6 py-4">
                                <a href="#" class="text-mainColor dark:text-blue-500 hover:underline text-xl"><i class="fa-solid fa-ellipsis-vertical"></i></a>
                            </td>
                        </tr>
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                2.
                            </th>
                            <td class="px-6 py-4">
                                Full Stack Developer
                            </td>
                            <td class="px-6 py-4">
                                <i class="fa-solid fa-briefcase mr-2 my-3"></i>Full Time
                            </td>
                            <td class="px-6 py-4">
                                <i class="fa-solid fa-location-dot text-lg text-mainColor mr-2"></i>Banglore, Karnataka
                            </td>
                            <td class="px-6 py-4">
                                12/2/2024
                            </td>
                            <td class="px-6 py-4">
                                <a href="#" class="text-mainColor dark:text-blue-500 hover:underline text-xl"><i class="fa-solid fa-ellipsis-vertical"></i></a>
                            </td>
                        </tr>
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                3.
                            </th>
                            <td class="px-6 py-4">
                                Full Stack Developer
                            </td>
                            <td class="px-6 py-4">
                                <i class="fa-solid fa-briefcase mr-2 my-3"></i>Full Time
                            </td>
                            <td class="px-6 py-4">
                                <i class="fa-solid fa-location-dot text-lg text-mainColor mr-2"></i>Banglore, Karnataka
                            </td>
                            <td class="px-6 py-4">
                                12/2/2024
                            </td>
                            <td class="px-6 py-4">
                                <a href="#" class="text-mainColor dark:text-blue-500 hover:underline text-xl"><i class="fa-solid fa-ellipsis-vertical"></i></a>
                            </td>
                        </tr>
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                4.
                            </th>
                            <td class="px-6 py-4">
                                Full Stack Developer
                            </td>
                            <td class="px-6 py-4">
                                <i class="fa-solid fa-briefcase mr-2 my-3"></i>Full Time
                            </td>
                            <td class="px-6 py-4">
                                <i class="fa-solid fa-location-dot text-lg text-mainColor mr-2"></i>Banglore, Karnataka
                            </td>
                            <td class="px-6 py-4">
                                12/2/2024
                            </td>
                            <td class="px-6 py-4">
                                <a href="#" class="text-mainColor dark:text-blue-500 hover:underline text-xl"><i class="fa-solid fa-ellipsis-vertical"></i></a>
                            </td>
                        </tr>
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                5.
                            </th>
                            <td class="px-6 py-4">
                                Full Stack Developer
                            </td>
                            <td class="px-6 py-4">
                                <i class="fa-solid fa-briefcase mr-2 my-3"></i>Full Time
                            </td>
                            <td class="px-6 py-4">
                                <i class="fa-solid fa-location-dot text-lg text-mainColor mr-2"></i>Banglore, Karnataka
                            </td>
                            <td class="px-6 py-4">
                                12/2/2024
                            </td>
                            <td class="px-6 py-4">
                                <a href="#" class="text-mainColor dark:text-blue-500 hover:underline text-xl"><i class="fa-solid fa-ellipsis-vertical"></i></a>
                            </td>
                        </tr>
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                6.
                            </th>
                            <td class="px-6 py-4">
                                Full Stack Developer
                            </td>
                            <td class="px-6 py-4">
                                <i class="fa-solid fa-briefcase mr-2 my-3"></i>Full Time
                            </td>
                            <td class="px-6 py-4">
                                <i class="fa-solid fa-location-dot text-lg text-mainColor mr-2"></i>Banglore, Karnataka
                            </td>
                            <td class="px-6 py-4">
                                12/2/2024
                            </td>
                            <td class="px-6 py-4">
                                <a href="#" class="text-mainColor dark:text-blue-500 hover:underline text-xl"><i class="fa-solid fa-ellipsis-vertical"></i></a>
                            </td>
                        </tr>
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                7.
                            </th>
                            <td class="px-6 py-4">
                                Full Stack Developer
                            </td>
                            <td class="px-6 py-4">
                                <i class="fa-solid fa-briefcase mr-2 my-3"></i>Full Time
                            </td>
                            <td class="px-6 py-4">
                                <i class="fa-solid fa-location-dot text-lg text-mainColor mr-2"></i>Banglore, Karnataka
                            </td>
                            <td class="px-6 py-4">
                                12/2/2024
                            </td>
                            <td class="px-6 py-4">
                                <a href="#" class="text-mainColor dark:text-blue-500 hover:underline text-xl"><i class="fa-solid fa-ellipsis-vertical"></i></a>
                            </td>
                        </tr>
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                8.
                            </th>
                            <td class="px-6 py-4">
                                Full Stack Developer
                            </td>
                            <td class="px-6 py-4">
                                <i class="fa-solid fa-briefcase mr-2 my-3"></i>Full Time
                            </td>
                            <td class="px-6 py-4">
                                <i class="fa-solid fa-location-dot text-lg text-mainColor mr-2"></i>Banglore, Karnataka
                            </td>
                            <td class="px-6 py-4">
                                12/2/2024
                            </td>
                            <td class="px-6 py-4">
                                <a href="#" class="text-mainColor dark:text-blue-500 hover:underline text-xl"><i class="fa-solid fa-ellipsis-vertical"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
            <div class="flex flex-col items-center mt-2">
                
                <span class="text-sm text-gray-700 dark:text-gray-400">
                    Showing <span class="font-semibold text-mainGrey dark:text-white">1</span> to <span class="font-semibold text-mainGrey dark:text-white">10</span> of <span class="font-semibold text-main dark:text-white">100</span> Entries
                </span>
                <div class="inline-flex space-x-3 mt-3 xs:mt-0">
                  
                  <button class="flex items-center justify-center px-3 h-8 text-sm font-medium text-white bg-mainColor rounded-lg hover:bg-orange-400 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                      <svg class="w-3.5 h-3.5 me-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5H1m0 0 4 4M1 5l4-4"/>
                      </svg>
                      Prev
                  </button>
                  <button class="flex items-center justify-center px-3 h-8 text-sm font-medium text-white bg-mainColor border-0 border-s rounded-lg hover:bg-orange-400 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                      Next
                      <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                    </svg>
                  </button>
                </div>
            </div>
    </main>
</div>
<footer class="bg-secndWhite">
    <app-footer></app-footer>
</footer>