<div class="flex justify-between bg-white rounded-2xl">
    <div class="relative my-4 mx-5 w-2/5">
        <app-search></app-search>
    </div>
    <div class="my-auto mr-5">
        <button type="button" (click)="addJob()" class="text-white bg-mainColor hover:bg-orange-400 font-bannerText rounded-xl text-sm px-6 py-3"><i class="fa-solid fa-plus mr-2"></i>Add</button>
    </div>
</div>
<div class="bg-white rounded-2xl  mx-5">

    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-white uppercase bg-mainColor dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        No:
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Job Title
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Job Type
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Location
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Posted Date
                    </th>
                    <th scope="col" class="px-6 py-3">
                        
                    </th>
                </tr>
            </thead>
            <tbody>
            @for (job of jobs; track job._id; let idx = $index) {
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{ idx + 1 }}
                    </th>
                    <td class="px-6 py-4">
                        {{ job.jobTitle }}
                    </td>
                    <td class="px-6 py-4">
                        <i class="fa-solid fa-briefcase mr-2 my-3"></i>{{ job.jobType }}
                    </td>
                    @if (job.remort) {
                        <td class="px-6 py-4">
                            <i class="fa-solid fa-location-dot text-lg text-mainColor mr-2"></i>Anywhere (remort)
                        </td>
                    } @else {
                        <td class="px-6 py-4">
                            <i class="fa-solid fa-location-dot text-lg text-mainColor mr-2"></i>{{ job.city }},{{ job.state }}
                        </td>
                    }
                    <td class="px-6 py-4">
                        {{ job.postedAt }}
                    </td>
                    <td class="px-6 py-4">
                        <div class="flex justify-between text-mainGrey text-sm">
                            <i class="fa-regular fa-pen-to-square" (click)="addJob(job._id)"></i>
                            <i class="fa-solid fa-trash" (click)="deleteJob(job._id)"></i>
                        </div>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>

</div>
    <div class="flex flex-col items-center my-2">
        <span class="text-sm text-gray-700 dark:text-gray-400">
            Showing <span class="font-semibold text-mainGrey dark:text-white">1</span> to <span class="font-semibold text-mainGrey dark:text-white">10</span> of <span class="font-semibold text-main dark:text-white">100</span> Entries
        </span>
        <div class="inline-flex space-x-3 mt-3 xs:mt-0">
          
          <button class="flex items-center justify-center px-3 h-8 text-sm font-medium text-white bg-mainColor rounded-lg hover:bg-orange-400 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
              <svg class="w-3.5 h-3.5 me-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5H1m0 0 4 4M1 5l4-4"/>
              </svg>
              Prev
          </button>
          <button class="flex items-center justify-center px-3 h-8 text-sm font-medium text-white bg-mainColor border-0 border-s rounded-lg hover:bg-orange-400 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
              Next
              <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
          </button>
        </div>
    </div>