<div class="flex-col bg-white rounded-xl shadow-lg w-full h-full">
    <div class="flex justify-between px-5 pt-5 w-full">
        <span class="flex text-mainGrey text-sm font-bannerText">Skills</span>
        <div class="flex gap-3">
            <span class="flex text-mainGrey text-sm font-bannerText items-start"><i class="fa-solid fa-plus text-sm pr-1"></i>Add</span>
            <span class="flex text-mainColor text-sm font-bannerText items-start"><i class="fa-solid fa-pen text-sm pr-1"></i>Add</span>
        </div>
    </div>
    <div class="flex px-5 py-3 w-full">
        <p class="text-lg text-mainGrey font-bannerText">Javascript, TypeScript, Node JS, Express JS, MongoDB, Angular, Git, Github, HTML, CSS, Bootstrap, Tailwind</p>
    </div>  
</div>