
    <div class="w-full">
        <h1 class="text-mainColor pb-2 flex justify-center text-4xl font-bannerText">Add Post</h1>
        @if (!oldImageUrls.length && !newImageUrls.length) {
            <div *ngIf="oldImageUrls.length === 0 && newImageUrls.length === 0" class="flex items-center justify-center w-full">
                <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                    <div class="flex flex-col items-center justify-center pt-5 pb-6">
                        <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
                        </svg>
                        <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
                        <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
                    </div>
                    <input id="dropzone-file" (change)="handleImage($event)" type="file" accept="image/*" multiple class="hidden" />
                </label>
            </div>
        } @else {
            <div *ngIf="oldImageUrls.length > 0 || newImageUrls.length >0" class="w-full flex flex-wrap justify-center pr-3 gap-4">
                <div *ngFor="let imageUrl of oldImageUrls; let i = index" class="relative w-2/6">
                    <img [src]="imageUrl" alt="Uploaded image" class="dp rounded-xl w-full h-full object-cover">
                    <button (click)="removeImage(i)" class="absolute top-2 right-2 bg-red-600 text-white rounded-full p-1">
                        &times;
                    </button>
                </div>
                <div *ngFor="let imageUrl of newImageUrls; let i = index" class="relative w-2/6">
                    <img [src]="imageUrl" alt="Uploaded image" class="dp rounded-xl w-full h-full object-cover">
                    <button (click)="removeImage(i)" class="absolute top-2 right-2 bg-red-600 text-white rounded-full p-1">
                        &times;
                    </button>
                </div>
            </div>
        } 
        <div class="w-full py-3">
            <tui-textarea
                [formControl]="descriptionControl"
                class="field-medium"
                [expandable]="true"
                [maxLength]="600">
                Post Description
            </tui-textarea>
            <small *ngIf="descriptionControl.errors?.['required'] && descriptionControl.touched" class="text-red-500 font-bannerText">
            *job overview required
            </small>
            <small *ngIf="descriptionControl?.errors?.['maxlength']" class="text-red-500 font-bannerText">
                *maximum length - 600
            </small>
        </div>
        <button tuiButton type="submit" appearance="main" (click)="submitPost()" class="tui-space_right-3 tui-space_bottom-3 w-full bg-mainColor" [showLoader]="isLoading">
            Submit
        </button>
    </div>

