<div class="container mx-auto px-4 py-6">
  @if (posts$ | async; as posts) {
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
        @for (post of posts; track $index) {
          <app-post [post]="post"></app-post>
        }
    </div>
    
    <div class="mt-8">
      <app-pagination [typeOfEntries]="'userPosts'" [currentPageNo]="currentPageNo" [maxItemInPerPage]="maxItemPerPage" [totalNoOfEntries]="totalNoOfPosts" [noOfShowingEntries]="posts.length">
      </app-pagination>
    </div>
  }
  </div>