<div class="px-20 py-5 space-x-5 bg-bg_grey">
    <app-user-profile-main-details [userMainDetails]="userMainDetails"></app-user-profile-main-details>
    <app-user-profile-about-section [skills]="skills"></app-user-profile-about-section>
    <app-user-profile-experience-section [experiences]="experiences"></app-user-profile-experience-section>
    <app-user-profile-education-section [educations]="educations"></app-user-profile-education-section>
    <app-user-profile-skills-section [skills]="skills"></app-user-profile-skills-section>
</div>