@if (type == 'exp') {
    <div class="flex flex-col items-center">
        <i class="fa-solid fa-circle-exclamation text-6xl text-red-600"></i>
        <div class="flex flex-col items-center mt-3">
            <h1 class="text-center text-2xl text-red-600 font-bannerText">Delete Experience!</h1>
            <p class="text-center text-lg text-mainGrey font-bannerText">Are you sure you want to delete this experience?</p>
            <p class="text-center text-lg text-mainGrey font-bannerText">This action cannot be undone.</p>
        </div>
        <div class="mt-4">
            <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bannerText py-2 px-4 rounded mr-2" (click)="cancelExp()">Cancel</button>
            <button class="bg-red-600 hover:bg-red-700 text-white font-bannerText py-2 px-4 rounded" (click)="deleteExp(_id)">Delete</button>
        </div>
    </div>
} @else {
    <div class="flex flex-col items-center">
        <i class="fa-solid fa-circle-exclamation text-6xl text-red-600"></i>
        <div class="flex flex-col items-center mt-3">
            <h1 class="text-center text-2xl text-red-600 font-bannerText">Delete Education!</h1>
            <p class="text-center text-lg text-mainGrey font-bannerText">Are you sure you want to delete this education?</p>
            <p class="text-center text-lg text-mainGrey font-bannerText">This action cannot be undone.</p>
        </div>
        <div class="mt-4">
            <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bannerText py-2 px-4 rounded mr-2" (click)="cancelEdu()">Cancel</button>
            <button class="bg-red-600 hover:bg-red-700 text-white font-bannerText py-2 px-4 rounded" (click)="deleteEdu(_id)">Delete</button>
        </div>
    </div>
}
