<div class="flex flex-col bg-white items-center rounded-2xl h-screen">
    <ul class="text-xl text-mainGrey font-bannerText mx-auto w-3/4">
        <a routerLink="/user/dashboard" routerLinkActive="text-mainColor"><li class="flex items-center my-3 cursor-pointer"><i class="fa-solid fa-house mr-2 my-3"></i>Dashboard</li></a>
        <a routerLink="/user/jobs" routerLinkActive="text-mainColor"><li class="flex items-center my-3 cursor-pointer"><i class="fa-solid fa-briefcase mr-2 my-3"></i>Jobs</li></a>
        <a routerLinkActive="text-mainColor"><li class="flex items-center my-3 cursor-pointer"><i class="fa-solid fa-photo-film mr-2 my-3"></i>Posts</li></a>
        <a routerLink="/user/network" routerLinkActive="text-mainColor"><li class="flex items-center my-3 cursor-pointer"><i class="fa-solid fa-people-group mr-2 my-3"></i>Network</li></a>
        <a routerLink="/user/inbox" routerLinkActive="text-mainColor"><li class="flex items-center my-3 cursor-pointer"><i class="fa-regular fa-comments mr-2 my-3"></i>Inbox</li></a>
    </ul>
</div>