<div class="h-screen flex flex-col justify-between bg-gradient-to-b from-gray-100 to-gray-200 shadow-lg p-6">
    <ul class="space-y-6 text-lg font-medium pt-10">
      <li>
        <a routerLink="/admin/dashboard" routerLinkActive="text-adminBlue" class="flex items-center transition-all duration-300 hover:translate-x-2">
          <i class="fa-solid fa-chart-line w-8 text-gray-600"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a routerLink="/admin/users" routerLinkActive="text-adminBlue" class="flex items-center transition-all duration-300 hover:translate-x-2">
          <i class="fa-solid fa-users w-8 text-gray-600"></i>
          <span>Users</span>
        </a>
      </li>
      <li>
        <a routerLink="/admin/companies" routerLinkActive="text-adminBlue" class="flex items-center transition-all duration-300 hover:translate-x-2">
          <i class="fa-solid fa-building w-8 text-gray-600"></i>
          <span>Companies</span>
        </a>
      </li>
      <li>
        <a routerLink="/admin/jobs" routerLinkActive="text-adminBlue" class="flex items-center transition-all duration-300 hover:translate-x-2">
          <i class="fa-solid fa-briefcase w-8 text-gray-600"></i>
          <span>Jobs</span>
        </a>
      </li>
    </ul>
    
    <div>
      <button (click)="logOut()" 
              class="w-full bg-adminBlue hover:bg-blue-600 text-white font-semibold py-3 px-4 rounded-lg shadow-md transition-all duration-300 flex items-center justify-center space-x-2 hover:translate-y-[-2px]">
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
        <span>Logout</span>
      </button>
    </div>
  </div>