<div class="flex justify-between w-full px-5 py-3">
    <div class="border-2 rounded-lg w-full">
        <div class="flex-col w-full justify-start px-5 pt-5">
            <div class="flex justify-between">
                <h1 class="text-3xl text-mainGrey font-bold">Calicut University</h1>
                <span class="flex text-mainColor justify-end pt-2 text-sm font-bannerText items-start"><i class="fa-solid fa-pen text-sm pr-1"></i>Edit</span>
            </div>
            <span class="flex items-center text-mainGrey text-sm font-bannerText my-2"><i class="fa-solid fa-location-dot text-mainColor text-lg mr-1"></i>Calicut, Kerala</span>
            <h2 class="text-lg text-thirdGrey font-bannerText">Bachelor of Computer Application</h2>
            <h3 class="text-lg text-secondGrey font-bannerText">2019 - 2023</h3>
        </div>
    </div>
</div>