<div class="flex flex-col my-10">
    <div class="flex justify-center items-center flex-col md:flex-row md:space-x-5 md:space-y-0 space-y-3">
        <h1 class="text-5xl font-bannerText flex justify-center items-center text-mainGrey">Your CareerBay</h1>
        <h1 class="text-5xl font-bannerText flex justify-center items-center text-mainGrey">journey in</h1>
    </div>    
    <h1 class="text-5xl font-bannerText flex justify-center items-center mt-2 text-mainColor">3 Simple Steps</h1>

    <div class="flex flex-col md:flex-row space-y-5 md:space-y-0 md:space-x-5 mx-10 my-10">

        <div class="flex flex-col bg-bg_grey rounded-md"> 
            <h1 class="flex justify-center text-2xl font-bannerText pt-5">Create Your Profile</h1>
            <span class="flex justify-center text-sm font-bannerText text-secondGrey px-3 py-3">Build a comprehensive profile that showcases your skills, experience, and career goals. The more information you provide, the better we can match you with the right opportunities.</span>
        </div>

        <div class="flex flex-col bg-bg_grey rounded-md"> 
            <h1 class="flex justify-center text-2xl font-bannerText pt-5">Discover Opportunities</h1>
            <span class="flex justify-center text-sm font-bannerText text-secondGrey px-3 py-3">Explore a diverse range of job listings curated to match your profile. Filter by industry, location, and job type to find the perfect fit for your next career move.</span>
        </div>

        <div class="flex flex-col bg-bg_grey rounded-md"> 
            <h1 class="flex justify-center text-2xl font-bannerText pt-5">Apply and Thrive</h1>
            <span class="flex justify-center text-sm font-bannerText text-secondGrey px-3 py-3">Submit applications seamlessly and stay updated on your job status. Logo is committed to supporting you throughout your professional journey, helping you thrive in your chosen career path.</span>
        </div>

    </div>
</div>
