<div class="mx-10 bg-cover bg-center rounded-lg overflow-hidden">
    <div class="inner-div rounded-lg flex flex-row items-center">
        <div class="ml-auto px-10 md:px-20 flex flex-col">
            <h2 class="text-mainGrey text-4xl md:text-6xl font-bannerText">Unlock Your</h2>
            <h2 class="text-mainColor text-4xl md:text-6xl pt-2 font-bannerText">Career Potential</h2>
            <h2 class="text-mainGrey text-4xl md:text-6xl pt-2 font-bannerText">with CAREER-BAY</h2>
            <p class="text-secondGrey text-sm md:text-base pl-2 font-bannerText">Discover Opportunities, Connect with Employers, Skilled Mentors,<br> and Elevate Your Professional Journey</p>
            <app-get-started class="mt-3 ml-2"></app-get-started>
        </div>
    </div>
</div>
