<div class="flex-col bg-white rounded-xl shadow-lg w-full h-full">
    <div class="flex justify-between px-5 pt-5 w-full">
        <span class="flex text-mainGrey text-sm font-bannerText"><i class="fa-solid fa-briefcase text-sm text-adminBlue pr-1"></i>Experience</span>
    </div>
    @if (experiences?.length) {
        <div class="grid grid-cols-2 w-full">
            @for (exp of experiences; track $index) {
                <app-user-experience-col-view [experience]="exp"></app-user-experience-col-view>
            }
        </div>
    } @else { 
        <div class="experience-section-placeholder text-center py-5 rounded">
            <p class="placeholder-message text-lg text-red-600 font-bannerText">You haven't added any experience to your profile yet. Share your professional background to complete your profile.</p>
        </div>          
    }
</div>