<div [className]="'flex flex-col justify-center items-center'">
    <div>
        <h1 [className]="'text-5xl font-bannerText flex justify-center text-mainGrey'">Find your Match</h1>
        <h1 [className]="'text-5xl font-bannerText flex justify-center mt-2 text-mainColor'">Job Here</h1>
    </div>
    <div [className]="'grid grid-cols-4 gap-5 mx-10 my-4'">
        <ng-container *ngFor="let job of sampleJobdata" >
          <app-job [jobData]="job"></app-job>
        </ng-container>
    </div>
    <button [className]="'font-bannerText px-5 py-2 border-2  bg-white text-mainGrey rounded-lg'">Show More</button>
</div>