<div class="flex flex-col bg-secndWhite items-start rounded-2xl h-screen overflow-hidden p-4 sm:p-0">
    <ul class="text-xl text-mainGrey font-bannerText w-full sm:w-3/4 sm:mx-auto sm:pt-5 pt-16">
        <a [routerLink]="['/user/dashboard']" routerLinkActive="text-mainColor">
            <li class="flex items-center my-3 cursor-pointer px-2 sm:px-0">
                <i class="fa-solid fa-house mr-4 my-3"></i>
                <span>Dashboard</span>
            </li>
        </a>
        <a [routerLink]="['/user/jobs']" routerLinkActive="text-mainColor">
            <li class="flex items-center my-3 cursor-pointer px-2 sm:px-0">
                <i class="fa-solid fa-briefcase mr-4 my-3"></i>
                <span>Jobs</span>
            </li>
        </a>
        <a [routerLink]="['/user/posts']" routerLinkActive="text-mainColor">
            <li class="flex items-center my-3 cursor-pointer px-2 sm:px-0">
                <i class="fa-solid fa-photo-film mr-4 my-3"></i>
                <span>Posts</span>
            </li>
        </a>
        <a [routerLink]="['/user/networks']" routerLinkActive="text-mainColor">
            <li class="flex items-center my-3 cursor-pointer px-2 sm:px-0">
                <i class="fa-solid fa-people-group mr-4 my-3"></i>
                <span>Network</span>
            </li>
        </a>
        <a [routerLink]="['/user/inbox', 'user']" routerLinkActive="text-mainColor">
            <li class="flex items-center my-3 cursor-pointer px-2 sm:px-0">
                <i class="fa-regular fa-comments mr-4 my-3"></i>
                <span>Inbox</span>
            </li>
        </a>
    </ul>
</div>