<div class="flex flex-col my-10">
    <h1 class="text-5xl font-bannerText flex justify-center text-mainGrey">Your CarrerBay journey in</h1>
    <h1 class="text-5xl font-bannerText flex justify-center mt-2 text-mainColor">3 Simple Steps</h1>

    <div class="flex flex-row space-x-5 mx-10 my-10"> <!-- main div for steps starts -->

        <div class="flex flex-col bg-bg_grey rounded-md"><!-- step 1 div starts -->
            <h1 class="flex justify-center text-2xl font-bannerText pt-5">Create Your Profile</h1>
            <span class="flex justify-center text-sm font-bannerText text-secondGrey px-3 py-3">Build a comprehensive profile that showcases your skills, experience, and career goals. The more information you provide, the better we can match you with the right oppertunities.</span>
        </div><!-- step 1 div ends -->

        <div class="flex flex-col bg-bg_grey rounded-md"><!-- step 2 div starts -->
            <h1 class="flex justify-center text-2xl font-bannerText pt-5">Discover Oppertunities</h1>
            <span class="flex justify-center text-sm font-bannerText text-secondGrey px-3 py-3">Explore a diverse range of job listing curated to match your profile. Filter by industry, location, and job type to find the perfect fit for your next career move.</span>
        </div><!-- step 2 div ends -->

        <div class="flex flex-col bg-bg_grey rounded-md"><!-- step 3 div starts -->
            <h1 class="flex justify-center text-2xl font-bannerText pt-5">Apply and Thrive</h1>
            <span class="flex justify-center text-sm font-bannerText text-secondGrey px-3 py-3">Submit applications seamlessly and stay updated on your job status. Logo is committed to supporting you throughout your professional journey, helping you thrive in your chosen career path.</span>
        </div><!-- step 1 div ends -->

    </div><!-- main div for steps ends -->
</div>
