<div class="">
    <div class="flex justify-center mb-3">
        <h1 class="text-3xl text-mainColor font-bannerText">{{ heading }}</h1>
    </div>
    <form [formGroup]="jobPostFrom" (ngSubmit)="submitJobPost()">
        <div class="px-3">

            <div class="flex justify-between space-x-5">

                <div class="flex flex-col w-1/2">
                    <tui-input formControlName="jobTitle">
                        Job Title
                        <input tuiTextfield type="text" />
                    </tui-input>
                    <small *ngIf="jobPostFrom.get('jobTitle')?.errors?.['required'] && jobPostFrom.get('jobTitle')?.touched" class="text-red-500 font-bannerText">
                    *job title required
                    </small>
                </div>
    
                <div class="w-1/2">
                    <div class="flex space-x-3">
                        <tui-input formControlName="city" class="w-full">
                            City
                            <input tuiTextfield type="text" class="w-full">
                        </tui-input>
                        <small *ngIf="jobPostFrom.get('city')?.errors?.['required'] && jobPostFrom.get('city')?.touched" class="text-red-500 font-bannerText">
                            *city required
                        </small>
                        <tui-select formControlName="state" class="w-full">
                            Select State
                            <input tuiTextfield class="w-full">
                            <tui-data-list-wrapper
                                *tuiDataList
                                [items]="states"
                            ></tui-data-list-wrapper>
                        </tui-select>
                        <small *ngIf="jobPostFrom.get('state')?.errors?.['required'] && jobPostFrom.get('state')?.touched" class="text-red-500 font-bannerText">
                            *state required
                        </small>
                    </div>
                    <div class="my-3">
                        <tui-checkbox-labeled size="l" formControlName="remort" (change)="toggleLocation($event)">
                            Remort (work from home) ?
                        </tui-checkbox-labeled>
                    </div>
                </div>

            </div>


            <div class="flex justify-between space-x-2">

                <div class="w-1/3">
                    <tui-select formControlName="jobType" class="w-full">
                        Select Job Type
                        <input tuiTextfield class="w-full">
                        <tui-data-list-wrapper
                            *tuiDataList
                            [items]="jobTypes"
                        ></tui-data-list-wrapper>
                    </tui-select>
                    <small *ngIf="jobPostFrom.get('jobType')?.errors?.['required'] && jobPostFrom.get('jobType')?.touched" class="text-red-500 font-bannerText">
                        *job type required
                    </small>
                </div>
                
                <div class="w-1/3">
                    <tui-input formControlName="minimumPay" class="w-full">
                        Minimum Pay (salary)
                        <input tuiTextfield type="text" class="w-full">
                    </tui-input>
                    <small *ngIf="jobPostFrom.get('minimumPay')?.errors?.['required'] && jobPostFrom.get('minimumPay')?.touched" class="text-red-500 font-bannerText">
                        *minimum pay required
                    </small>
                </div>
                
                <div class="w-1/3">
                    <tui-input formControlName="maximumPay" class="w-full">
                        Maximum Pay (salary)
                        <input tuiTextfield type="text" class="w-full">
                    </tui-input>
                    <small *ngIf="jobPostFrom.get('maximumPay')?.errors?.['required'] && jobPostFrom.get('maximumPay')?.touched" class="text-red-500 font-bannerText">
                        *maximum pay required
                    </small>
                </div>    

            </div>


            <div class="flex justify-between space-x-2 my-3">

                <div class="w-1/3">
                    <tui-select formControlName="payType" class="w-full">
                        Select Pay Type
                        <input tuiTextfield class="w-full">
                        <tui-data-list-wrapper
                            *tuiDataList
                            [items]="payType"
                        ></tui-data-list-wrapper>
                    </tui-select>
                    <small *ngIf="jobPostFrom.get('payType')?.errors?.['required'] && jobPostFrom.get('payType')?.touched" class="text-red-500 font-bannerText">
                        *pay type required
                    </small>
                </div>
                
                <div class="w-1/3">
                    <tui-select formControlName="workShift" class="w-full">
                        Select work Shift
                        <input tuiTextfield class="w-full">
                        <tui-data-list-wrapper
                            *tuiDataList
                            [items]="workSchedule"
                        ></tui-data-list-wrapper>
                    </tui-select>
                    <small *ngIf="jobPostFrom.get('workShift')?.errors?.['required'] && jobPostFrom.get('workShift')?.touched" class="text-red-500 font-bannerText">
                        *work shift required
                    </small>
                </div>

                <div class="w-1/3">
                    <tui-select formControlName="experienceLevel" class="w-full">
                        Select Experience Level
                        <input tuiTextfield class="w-full">
                        <tui-data-list-wrapper
                            *tuiDataList
                            [items]="experienceLevels"
                        ></tui-data-list-wrapper>
                    </tui-select>
                    <small *ngIf="jobPostFrom.get('experienceLevel')?.errors?.['required'] && jobPostFrom.get('experienceLevel')?.touched" class="text-red-500 font-bannerText">
                        *experience level required
                    </small>
                </div>     

            </div>

            <div class="flex w-full my-3">
                <div class="w-full">
                    <tui-textarea
                        formControlName="overView"
                        class="field-medium"
                        [expandable]="true"
                        [maxLength]="600">
                        Job Overview
                    </tui-textarea>
                    <small *ngIf="jobPostFrom.get('overView')?.errors?.['required'] && jobPostFrom.get('overView')?.touched" class="text-red-500 font-bannerText">
                    *job overview required
                    </small>
                    <small *ngIf="jobPostFrom.get('overView')?.errors?.['maxlength']" class="text-red-500 font-bannerText">
                        *maximum length - 600
                    </small>
                </div>
            </div>

            <div class="flex my-3 flex-wrap">
                <div *ngFor="let control of responsibilities.controls; let i = index" class="w-1/2 flex flex-col" formArrayName="responsibilities">
                    <div class="flex items-center">
                        <tui-input [formControlName]="i" class="flex-grow">
                            Responsibilities and Duties
                            <input tuiTextfield type="text" class="w-full">
                        </tui-input>
                        <button class="ml-2 bg-red-600 py-3 rounded-lg px-5" (click)="deleteResponsibility(i)" *ngIf="i != 0">
                            <i class="fa-solid fa-trash text-white"></i>
                        </button>
                    </div>
                    <small *ngIf="responsibilities.at(i).errors?.['required'] && responsibilities.at(i).touched" class="text-red-500 font-bannerText">
                        *Responsibility is required
                    </small>
                </div>
            </div>            
            <button class="bg-blue-500 text-white font-bannerText py-3 px-3 rounded-lg" type="button" (click)="addResponsibility()">Add Responsibility</button>

            <div class="flex my-3 flex-wrap">
                <div *ngFor="let control of qualifications.controls; let i = index" class="w-1/2 flex flex-col" formArrayName="qualifications">
                    <div class="flex items-center">
                        <tui-input [formControlName]="i" class="flex-grow">
                            Qualification
                            <input tuiTextfield type="text" class="w-full">
                        </tui-input>
                        <button class="ml-2 bg-red-600 py-3 rounded-lg px-5" (click)="deleteQualification(i)" *ngIf="i != 0">
                            <i class="fa-solid fa-trash text-white"></i>
                        </button>
                    </div>  
                    <small *ngIf="qualifications.at(i).errors?.['required'] && qualifications.at(i).touched" class="text-red-500 font-bannerText">
                        *Qualification is required
                    </small>
                </div>
            </div>            
            <div class="flex justify-between space-x-3">
                <button class="bg-blue-500 text-white font-bannerText py-3 justify-center w-full rounded-lg" type="button" (click)="addQualification()">Add Qualification</button>  
                <button class="bg-mainColor text-white font-bannerText py-3 justify-center w-full rounded-lg" type="submit">Submit</button>  
            </div>        

        </div>
    </form>
</div>