<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<tui-root class="flex flex-col">
    
  <app-navbar></app-navbar>
  <app-banner></app-banner>
  <app-features></app-features>
  <app-steps></app-steps>
  <app-job-overview></app-job-overview>
  <app-contact-us></app-contact-us>
  <app-footer></app-footer>
  
  <!-- <app-registration-dialogue></app-registration-dialogue> -->
</tui-root>