<div class=" flex flex-col">
    <h1 class="text-black text-xl flex font-bannerText justify-center">Welcome<h1>👋</h1></h1>
    <span class="text-black text-sm flex font-bannerText justify-center">Please, enter your details to Hire&nbsp;<h1 class="text-mainColor">Skilled Professionals</h1> </span>
    
    <div class="tabs mt-5">
      <div class="tab-2">
        <label for="tab2-1" class="text-sm font-bannerText" (click)="redirectlogin()">Login</label>
        <input id="tab2-1" type="radio">
      </div>
      <div class="tab-2">
        <label for="tab2-2" class="text-sm font-bannerText" (click)="redirectlogin()">Register</label>
        <input id="tab2-2" type="radio" checked="checked">
      </div>
    </div>

    <form [formGroup]="registrationForm" (ngSubmit)="submitRegistrationForm()">
    <div>
        <div class="grid grid-cols-2">
        
            <div class="flex flex-col my-5 mx-3">
                    <tui-input formControlName="companyName">
                        Company Name
                        <input tuiTextfield type="text" />
                    </tui-input>
                    <small *ngIf="registrationForm.get('companyName')?.errors?.['required'] && registrationForm.get('companyName')?.touched" class="text-red-500 font-bannerText">
                        *companyname required
                    </small>
                    <small *ngIf="registrationForm.get('companyName')?.errors?.['noSpaceAllowed']" class="text-red-500 font-bannerText">
                        *space not allowed
                    </small>
            </div>

            <div class="flex flex-col my-5 mx-3">
                <tui-input formControlName="email">
                    Email
                    <input tuiTextfield type="email"/>
                </tui-input>
                <small *ngIf="registrationForm.get('email')?.errors?.['required'] && registrationForm.get('email')?.touched" class="text-red-500 font-bannerText">
                    *email required
                </small>
                <small *ngIf="registrationForm.get('email')?.errors?.['email']" class="text-red-500 font-bannerText">
                    *enter a valid email
                </small>
            </div>
        
            <div class="flex flex-col my-5 mx-3">
                <tui-input-password class="tui-space_top-2" formControlName="password">
                Password 
                </tui-input-password>
                <small *ngIf="registrationForm.get('password')?.errors?.['required'] && registrationForm.get('password')?.touched" class="text-red-500 font-bannerText">
                    *password is required
                </small>
                <small *ngIf="registrationForm.get('password')?.errors?.['noSpaceAllowed']" class="text-red-500 font-bannerText">
                    *space not allowed
                </small>
                <small *ngIf="registrationForm.get('password')?.errors?.['minlength']" class="text-red-500 font-bannerText">
                    *password should have minimum 8 characters
                </small>
            </div>

            <div class="flex flex-col my-5 mx-3">
                <tui-input-password class="tui-space_top-2" formControlName="confirmPassword">
                Confirm password 
                </tui-input-password>
                <small *ngIf="registrationForm.get('confirmPassword')?.errors?.['required'] && registrationForm.get('confirmPassword')?.touched" class="text-red-500 font-bannerText">
                    *confirm password is required
                </small>
                <small *ngIf="registrationForm.get('confirmPassword')?.errors?.['noSpaceAllowed']" class="text-red-500 font-bannerText">
                    *space not allowed
                </small>
                <small *ngIf="registrationForm.get('confirmPassword')?.errors?.['minlength']" class="text-red-500 font-bannerText">
                    *password should have minimum 8 characters
                </small>
                <small *ngIf="registrationForm?.errors?.['passwordMismatch']" class="text-red-500 font-bannerText">
                    *password and confirm password should be same
                </small>
            </div>

            <div class="flex flex-col my-5 mx-3">
                <tui-select formControlName="industry">
                    Select Industry
                    <input
                        tuiTextfield
                    />
                    <tui-data-list-wrapper
                        *tuiDataList
                        [items]="industries"
                    ></tui-data-list-wrapper>
                </tui-select>
                <small *ngIf="registrationForm.get('industry')?.errors?.['required'] && registrationForm.get('industry')?.touched" class="text-red-500 font-bannerText">
                    *industry required
                </small>
            </div>

            <div class="flex gap-2 my-5 mx-3">
                <div class="flex flex-col w-11/12">
                    <tui-input-files
                    *ngIf="!document.value"
                    accept="application/pdf"
                    [formControl]="document"
                    (reject)="onReject($event)"
                ></tui-input-files>
 
                <tui-files class="tui-space_top-1">
                    <tui-file
                        *ngIf="loadedFiles$ | async as file"
                        [file]="file"
                        [showDelete]="document.enabled"
                        (removed)="removeFile()"
                    ></tui-file>
                
                    <tui-file
                        *ngIf="rejectedFiles$ | async as file"
                        state="error"
                        [file]="file"
                        [showDelete]="document.enabled"
                        (removed)="clearRejected()"
                    ></tui-file>
                
                    <tui-file
                        *ngIf="loadingFiles$ | async as file"
                        state="loading"
                        [file]="file"
                        [showDelete]="document.enabled"
                    ></tui-file>
                </tui-files>
                </div>
                <div class="flex w-1/12 justify-center items-center">
                    <tui-tooltip
                        content="Verification Process for Companies

                        To ensure the authenticity and credibility of companies on our platform, we require verification of certain documents. Please provide documents such as business licenses, registration certificates, or other relevant credentials to verify your account. Once your documents are verified, you can continue using your account for hiring and other activities. Thank you for your cooperati"
                        direction="right"
                    ></tui-tooltip>
                </div>
            </div>

            <div class="flex gap-2 my-5 mx-3">
                <div class="fle w-full">
                    <tui-input formControlName="city">
                        City
                        <input
                            tuiTextfield
                            type="text"
                        />
                    </tui-input>
                    <small *ngIf="registrationForm.get('city')?.errors?.['required'] && registrationForm.get('city')?.touched" class="text-red-500 font-bannerText">
                        *city required
                    </small>
                </div>
                <div class="flex w-full">
                    <tui-select formControlName="state">
                        Select State
                        <input
                            tuiTextfield
                        />
                        <tui-data-list-wrapper
                            *tuiDataList
                            [items]="states"
                        ></tui-data-list-wrapper>
                    </tui-select>
                    <small *ngIf="registrationForm.get('state')?.errors?.['required'] && registrationForm.get('state')?.touched" class="text-red-500 font-bannerText">
                        *gender required
                    </small>
                </div>
            </div>

            <div class="flex gap-2 mx-3 my-5">
                <div class="flex w-full">
                    <tui-input formControlName="OTP">
                        Enter OTP
                        <input tuiTextfield type="number"/>
                    </tui-input>
                    <small *ngIf="registrationForm.get('OTP')?.errors?.['required'] && registrationForm.get('OTP')?.touched" class="text-red-500 font-bannerText">
                        *OTP required
                    </small>
                    <small *ngIf="registrationForm.get('OTP')?.errors?.['minlength']" class="text-red-500 font-bannerText">
                        *enter a valid OTP
                    </small>
                </div>
                <div class="flex w-full">
                    <button class="flex justify-center ml-auto py-4 px-5 font-bannerText rounded-lg bg-mainColor text-white" type="button" (click)="requestOTP()">Submit</button>
                </div>
            </div>
        </div>

        <div class="grid grid-cols-1 mt-5">
            <button class="flex flex-row justify-center py-3 font-bannerText rounded-full bg-mainColor text-white" type="submit" >Submit</button>
        </div>
    </div>
</form>
</div>

