<div class="flex bg-mainColor rounded-xl shadow-lg w-full h-full">

    <div class="w-2/12 rounded-full my-auto px-3">
        <img [src]="userMainDetails.profile_url" alt="" class="h-auto w-auto rounded-full">
    </div>

    <div class="flex justify-between w-10/12 ml-5">
        <div class="w-1/2 text-white flex flex-col justify-between py-5"> <!-- Center vertically -->
            <h1 class="text-3xl font-bannerText">{{ userMainDetails.firstName }} {{ userMainDetails.lastName}}</h1>
            <h3 class="text-lg font-bannerText">{{ userMainDetails.jobTitle }}</h3>
            <h2><i class="fa-solid fa-location-dot text-xl text-white mr-3"></i> {{ userMainDetails.city }},{{ userMainDetails.state }}</h2>
            <h3>{{ userMainDetails.DOB }}</h3>
            <h3><i class="fa-solid fa-file text-xl text-white mr-3"></i>{{ userMainDetails.resume_url }}</h3>
        </div>
    
        <div class="w-1/2 text-white flex flex-col justify-between py-5 relative"> <!-- Center vertically and add relative positioning -->
            <h2 class="text-lg font-bannerText"><i class="fa-solid fa-square-phone text-3xl mr-3"></i>{{ userMainDetails.phone }}</h2>
            <h2 class="text-lg font-bannerText"><i class="fa-solid fa-square-envelope text-3xl mr-3"></i>{{ userMainDetails.email }}</h2>
            <h2 class="text-lg font-bannerText"><i class="fa-solid fa-link text-2xl mr-3"></i>{{ userMainDetails.portfolio_url }}</h2>
            <h2 class="text-lg font-bannerText"><i class="fa-brands fa-square-github text-3xl mr-3"></i>{{ userMainDetails.gitHub_url }}</h2>
        </div>

        <span class="flex py-5 px-5 cursor-pointer text-white text-sm font-bannerText items-start" (click)="openMainDetailsEdit()"><i class="fa-solid fa-pen text-sm pr-1"></i>Edit</span>
    </div>
    
</div>

