<div>
    <div class="flex justify-between mx-10">
        <app-logo></app-logo>
    
        <div class="flex justify-between space-x-5 mt-2">
            <h1 class="text-sm font-bannerText text-mainGrey">Home</h1>
            <h1 class="text-sm font-bannerText text-mainGrey">Dashboard</h1>
            <h1 class="text-sm font-bannerText text-mainGrey">Find a Job</h1>
            <h1 class="text-sm font-bannerText text-mainGrey">Contact Us</h1>
            <h1 class="text-sm font-bannerText text-mainGrey">About Us</h1>
        </div>
    
        <div class="flex justify-between space-x-5">
            <i class="fa-brands fa-x-twitter text-3xl"></i>
            <i class="fa-brands fa-linkedin-in text-3xl"></i>
            <i class="fa-brands fa-instagram text-3xl"></i>
        </div>
    </div>
    
    <div class="border-b-2 border-mainGrey mx-10 my-5"></div>

    <div class="flex justify-between my-5 mx-10">
        <h1 class="font-bannerText">2024 CAREER-BAY. All right reserved</h1>
        <div class="flex justify-between space-x-5">
            <h1 class="font-bannerText">Terms of Service</h1>
            <h1 class="font-bannerText">Policy Service</h1>
            <h1 class="font-bannerText">Cookie Policy</h1>
            <h1 class="font-bannerText">Partners</h1>
        </div>
    </div>

</div>