<div>
    <div class="flex justify-center my-5">
        <h1 class="text-4xl text-mainColor font-bannerText">Edit Profile</h1>
    </div>
    <form [formGroup]="profileForm" (ngSubmit)="submitNewProfile()">
    <div class="flex my-3">

        <div class="w-full">
            <div class="w-full flex flex-col justify-center pr-3">
                <img [src]="profile_url" alt="profile pic" class="dp rounded-xl w-96 h-48 object-contain">
                <input class="block w-full text-xs text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" accept="image/*" (change)="handleProfile($event)" name="profile-img" id="profile-file" type="file">
            </div>
        </div>

        <div class="w-full">

            <div class="flex flex-col pr-3">
                <div class="flex flex-col my-3">
                    <tui-input formControlName="firstName">
                        First Name
                        <input tuiTextfield type="text" />
                    </tui-input>
                    <small *ngIf="profileForm.get('firstName')?.errors?.['required'] && profileForm.get('firstName')?.touched" class="text-red-500 font-bannerText">
                    *first name required
                    </small>
                    <small *ngIf="profileForm.get('firstName')?.errors?.['noSpaceAllowed']" class="text-red-500 font-bannerText">
                        *space not allowed
                    </small>
                </div>
            </div>

            <div class="flex flex-col pr-3">
                <div class="flex flex-col my-3">
                    <tui-input formControlName="lastName">
                        Last Name
                        <input tuiTextfield type="text" />
                    </tui-input>
                    <small *ngIf="profileForm.get('lastName')?.errors?.['required'] && profileForm.get('lastName')?.touched" class="text-red-500 font-bannerText">
                        *last name required
                    </small>
                </div>
            </div>

            <div class="flex my-3 space-x-3 pr-3">
                <tui-select formControlName="city" class="w-full">
                    Select City
                    <input tuiTextfield class="w-full">
                    <tui-data-list-wrapper
                        *tuiDataList
                        [items]="cities"
                    ></tui-data-list-wrapper>
                </tui-select>
                <small *ngIf="profileForm.get('city')?.errors?.['required'] && profileForm.get('city')?.touched" class="text-red-500 font-bannerText">
                    *city required
                </small>
                <tui-select formControlName="state" class="w-full">
                    Select State
                    <input tuiTextfield class="w-full">
                    <tui-data-list-wrapper
                        *tuiDataList
                        [items]="states"
                    ></tui-data-list-wrapper>
                </tui-select>
                <small *ngIf="profileForm.get('state')?.errors?.['required'] && profileForm.get('state')?.touched" class="text-red-500 font-bannerText">
                    *state required
                </small>
            </div>

        </div>
    
    </div>
    
    <div class="flex my-5">

        <div class="flex w-1/2">
            <div class="w-full mr-3">
                <tui-input formControlName="jobTitle">
                    Job Title
                    <input tuiTextfield type="text"/>
                </tui-input>
                <small *ngIf="profileForm.get('jobTitle')?.errors?.['required'] && profileForm.get('jobTitle')?.touched" class="text-red-500 font-bannerText">
                    *job title required
                </small>
            </div>
        </div>

        <div class="flex w-1/2 pr-3">
            <div class="w-full">
                <tui-select formControlName="industry">
                    Select Industry
                    <input
                        tuiTextfield
                    />
                    <tui-data-list-wrapper
                        *tuiDataList
                        [items]="industries"
                    ></tui-data-list-wrapper>
                </tui-select>
                <small *ngIf="profileForm.get('industry')?.errors?.['required'] && profileForm.get('industry')?.touched" class="text-red-500 font-bannerText">
                    *industry required
                </small>
            </div>
        </div>
        
    </div>

    <div class="flex my-5">

        <div class="flex gap-3 w-1/2 pr-3">
            <div class="w-1/2">
                <tui-select formControlName="gender">
                    Select Gender
                    <input tuiTextfield />
                    <tui-data-list-wrapper *tuiDataList [items]="genders"></tui-data-list-wrapper>
                </tui-select>
                <small *ngIf="profileForm.get('gender')?.errors?.['required'] && profileForm.get('gender')?.touched" class="text-red-500 font-bannerText">
                    *gender required
                </small>
            </div>
            <div class="w-1/2 ">
                <tui-input-date formControlName="DOB">
                    Choose a date
                    <input tuiTextfield />
                </tui-input-date>
                <small *ngIf="profileForm.get('DOB')?.errors?.['required'] && profileForm.get('DOB')?.touched" class="text-red-500 font-bannerText">
                    *DOB required
                </small>
            </div>
        </div>

        <div class="flex w-1/2 pr-3">
            <div class="w-full">
                <input class="block w-full text-lg text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" id="resume-file" type="file">
            </div>
        </div>
        
    </div>

    <div class="flex my-5">
    
        <div class="flex w-1/2 pr-3">
            <div class="w-full">
                <tui-input formControlName="portfolio_url">
                    PortFolio URL
                    <input tuiTextfield type="text" />
                </tui-input>
                <small *ngIf="profileForm.get('portfolio_url')?.errors?.['required'] && profileForm.get('portfolio_url')?.touched" class="text-red-500 font-bannerText">
                    *portfolio url required
                </small>
            </div>
        </div>

        <div class="flex w-1/2 pr-3">
            <div class="w-full">
                <tui-input formControlName="gitHub_url">
                    Github URL
                    <input tuiTextfield type="text" />
                </tui-input>
                <small *ngIf="profileForm.get('gitHub_url')?.errors?.['required'] && profileForm.get('gitHub_url')?.touched" class="text-red-500 font-bannerText">
                    *github url required
                </small>
            </div>
        </div>
    </div>

    <div class="flex my-5">
        <div class="flex w-full ">
            <div class="flex w-full pr-3">
                <div class="w-full">
                    <button tuiButton type="submit" appearance="main" class="tui-space_right-3 tui-space_bottom-3 w-full bg-mainColor" [showLoader]="isLoading">
                        Submit
                    </button>
                </div>
            </div>
        </div>

    </div>

</form>
</div>
