<div [className]="'flex flex-row py-5 px-10'">
    <h2 class="Logo">Career-Bay</h2>
    <nav [className]="'mx-auto'">
        <ul [className]="'flex flex-row basis-1/5'">
          <li [className]="'px-5 py-2 font-bannerText'"><a href="#">Home</a></li>
          <li [className]="'px-5 py-2 font-bannerText'"><a href="#">Dashboard</a></li>
          <li [className]="'px-5 py-2 font-bannerText'"><a href="#">Find a Job</a></li>
          <li [className]="'px-5 py-2 font-bannerText'"><a href="#">Contact Us</a></li>
          <li [className]="'px-5 py-2 font-bannerText'"><a href="#">About Us</a></li>
        </ul>
    </nav>
    <div [className]="'flex flex-row ml-auto space-x-3'">
        <button [className]="'font-bannerText px-5 py-2 bg-white text-mainColor rounded-lg'">Sign in</button>
        <button [className]="'font-bannerText px-5 py-2 bg-mainColor text-white rounded-lg'">Get Started</button>
    </div>  
</div>