<div class="flex flex-col lg:flex-row justify-between w-full py-5 px-10">
    <div class="flex justify-between items-center w-full lg:w-auto">
        <app-logo></app-logo>
        <i class="fa-solid fa-bars text-3xl text-mainGrey lg:hidden ml-auto cursor-pointer" (click)="toggleMenu()"></i>
    </div>
    <app-nav-bar-options [isMenuOpen]="isMenuOpen"></app-nav-bar-options>
    <div class="flex-row ml-auto space-x-3 hidden lg:block">
        <app-get-started></app-get-started>
    </div>
</div>
