<div class="flex justify-center items-center">
    <div class="flex mx-5 my-10">
        <h1 class="text-2xl text-secondGrey font-bannerText">Login</h1>
        <p class="text-xl text-thirdGrey font-bannerText">You will be directed to the Dashboard</p>
        <div class="grid grid-cols-1">
            <tui-input formControlName="email">
                Email
                <input tuiTextfield type="email"/>
            </tui-input>
            <tui-input formControlName="email">
                Email
                <input tuiTextfield type="email"/>
            </tui-input>
        </div>
    </div>
</div>
