<nav class="mx-auto ml-auto" [ngClass]="{'block': isMenuOpen, 'hidden': !isMenuOpen}">
    <ul class="flex flex-col lg:flex-row basis-1/5">
        <li class="px-5 py-2 font-bannerText"><a href="#">Home</a></li>
        <li class="px-5 py-2 font-bannerText"><a href="#">Dashboard</a></li>
        <li class="px-5 py-2 font-bannerText"><a href="#">Find a Job</a></li>
        <li class="px-5 py-2 font-bannerText"><a href="#">Contact Us</a></li>
        <li class="px-5 py-2 font-bannerText"><a href="#">About Us</a></li>
        <li class="px-5 py-2 font-bannerText lg:hidden"><button class="bg-white text-mainColor rounded-lg">Sign in</button></li>
        <li class="px-5 py-2 font-bannerText lg:hidden"><app-get-started></app-get-started></li>
    </ul>
</nav>
