<div class="bg-job_bg_1 rounded-lg p-4 flex flex-col justify-between h-[300px] w-full max-w-sm mx-auto mb-4 shadow-md">
    
    <div class="flex-grow">
        <div class="flex justify-between items-start mb-2">
            <i class="fa-regular fa-bookmark text-lg"></i>
        </div>
        <h2 class="text-xl font-bannerText h-16 overflow-hidden">{{ jobData.jobTitle }}</h2>
        
        <div class="mt-4">
            <div class="flex items-baseline">
                <h2 class="text-mainColor text-lg font-bannerText mr-2">₹{{jobData.minimumPay}} - {{jobData.maximumPay}}</h2>
                <span class="text-mainGrey text-sm">{{jobData.payType}}</span>
            </div>
        </div>

        <div class="flex flex-wrap justify-between items-center mt-4 text-sm">
            <div class="flex items-center mr-4 mb-2">
                <i class="fa-solid fa-location-dot mr-1"></i>
                @if (jobData.remort) {
                    <span class="text-mainGrey font-bannerText">Remote</span>
                } @else {
                    <span class="text-mainGrey font-bannerText truncate max-w-[150px]">{{jobData.city}}, {{jobData.state}}</span>
                }
            </div>
            <div class="flex items-center">
                <i class="fa-solid fa-briefcase mr-1"></i>
                <span class="text-mainGrey font-bannerText mr-2">{{jobData.jobType}}</span>
                <i class="fa-solid fa-arrow-right"></i>
            </div>
        </div>
    </div>
    
    <div class="bg-white rounded-lg p-3 flex items-center mt-4">
        <img [src]="jobData?.company_id.profile_url" alt="profile" class="w-12 h-12 rounded-full mr-3 object-cover">
        <div class="flex-grow min-w-0">
            <h2 class="text-mainGrey text-base font-bannerText truncate">
                {{ jobData.company_id.companyName }}
            </h2>
            <div class="flex items-center text-thirdGrey text-xs font-bannerText">
                <i class="fa-regular fa-clock mr-1"></i>
                <span class="truncate">{{ jobData?.postedAt }}</span>
            </div>
        </div>
        <button class="font-bannerText px-4 py-2 bg-mainColor text-white rounded-lg text-sm whitespace-nowrap ml-2">View</button>
    </div>    
</div>