<div class="bg-job_bg_1 rounded-lg px-1 pt-6 min-w-80 min-h-80 w-8min-w-80 flex flex-col justify-between mb-3">
        
    <div class="flex flex-col px-3">
        <i class="fa-regular fa-bookmark"></i>
        <div class="w-1/2 mt-4">
            <span class="text-2xl font-bannerText ml-1">{{ jobData.jobTitle }}</span>
        </div>
        <div class="w-1/2"></div>
    </div>
    
    <div class="flex flex-col">
        <span class="flex flex-row px-3">
            <h2 class="text-mainColor text-lg font-bannerText">₹{{jobData.minimumPay}} - {{jobData.maximumPay}}</h2>
            <h2 class="text-mainGrey text-sm mt-1">\{{jobData.payType}}</h2>
        </span>                            
    </div>

    <!-- @if (!jobData.active) {
        <div class="bg-red-100 text-red-700 px-4 py-2 rounded-lg mx-auto">
            <p class="font-semibold">This job is currently not hiring</p>
        </div>
    } -->

    <div class="flex flex-row items-center justify-between space-x-2 px-3 mt-auto mb-3">
        <div class="flex justify-start items-center">
            <i class="fa-solid fa-location-dot"></i>
            @if (jobData.remort) {
                <span class="ml-1 text-mainGrey text-sm font-bannerText">Remort</span>
            } @else {
                <span class="ml-1 text-mainGrey text-sm font-bannerText">{{jobData.city}}, {{jobData.state}}</span>
            }
        </div>
        <div class="flex justify-end items-center">
            <i class="fa-solid fa-briefcase"></i>
            <span class="ml-1 text-mainGrey text-sm font-bannerText">{{jobData.jobType}}</span>
            <i class="fa-solid fa-arrow-right ml-3"></i>
        </div>
    
    </div>
    <div class="flex bg-white rounded-lg mb-1">
        <img [src]="jobData?.company_id.profile_url" alt="profile" class="w-16 h-16 rounded-full px-2 py-2">
        <div class="flex flex-col pt-2">
            
            <h2 class="text-mainGrey text-lg font-bannerText ml-1">
                {{ jobData.company_id.companyName.length > 13 ? jobData.company_id.companyName.slice(0, 13) + '...' : jobData.company_id.companyName }}
            </h2>
            <div class="flex flex-row text-thirdGrey text-xs font-bannerText">
                <i class="fa-regular fa-clock mt-1"></i>
                <h2 class="ml-1">{{ jobData?.postedAt }}</h2>
            </div>
        </div>
        <button class="font-bannerText px-4 bg-mainColor text-white rounded-lg mx-4 my-4 ml-auto">View</button>
    </div>    
</div>
