<div class="flex justify-between items-center py-3 px-10">
    <!-- Logo on the left -->
    <app-logo></app-logo>
    
    <!-- Options in the center -->
    <div class="flex justify-between items-center space-x-3 flex-grow">
        <app-nav-bar-options></app-nav-bar-options>
    </div>
    
    <!-- Profile on the right -->
    <div class="flex items-center space-x-3">
        <img id="avatarButton" type="button" data-dropdown-toggle="userDropdown" data-dropdown-placement="bottom-start" class="w-14 h-14 rounded-full cursor-pointer" [src]="userData.profile_url" alt="User dropdown">
        
        <!-- Dropdown menu -->
        <div id="userDropdown" class="z-10 hidden bg-slate-200 divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
            <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="avatarButton">
                <li>
                    <a routerLink="/user/profile/:id" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Profile</a>
                </li>
                <li>
                    <a routerLink="/user/notifications/:id" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Notifications</a>
                </li>
                <li>
                    <a routerLink="/user/applied-jobs/:id" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Applied Jobs</a>
                </li>
            </ul>
            <div class="py-1">
                <p (click)="logout()" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Log out</p>
            </div>
        </div>
    </div>
</div>

<hr class="w-full h-0.5 text-mainGrey">