<div [className]="'bg-white flex flex-col mx-5 my-5 rounded-lg'"><!-- 1st inside div starts -->
    <div [className]="'flex flex-row mx-5 my-4'">
        <img [src]="userData.profile_url" alt="profile" [className]="'w-16 h-16 rounded-full'">
        <div [className]="'ml-3'">
            <h3 [className]="'text-2xl font-bannerText text-mainGrey'">{{ userData.fullName }}</h3>
            <h3 [className]="'text-lg text-secondGrey'">{{userData.jobTitle}}</h3>
        </div>
        <button [className]="'ml-auto font-bannerText px-5 my-3 bg-mainColor text-white rounded-lg'">Connect</button>
    </div>
</div><!-- 1st inside div ends -->