<div class="flex px-5 gap-1">
    <div class="w-4/6">
        <p class="text-mainGrey text-2xl font-bannerText my-3">Top Job picks for you</p>
        <div class="flex overflow-x-auto gap-2">
            @if (jobs.length) {
                @for (job of jobs; track $index) {
                    @if ($index <= 6) {
                        <a [routerLink]="['/user/job', 'user',job._id]">
                            <app-job [jobData]="job" class="flex-none"></app-job>
                        </a>
                    }
                }
            }
            <a routerLink="/user/jobs" class="my-auto"><i class="fa-solid fa-circle-arrow-right text-3xl text-mainColor"></i></a>    
        </div>
    </div>
    
    <div class="w-2/6">
        <p class="text-mainGrey text-2xl font-bannerText my-3 ml-3">Let's Connect</p>
        <div class="bg-slate-200 flex flex-col rounded-lg px-2 py-2 gap-2">
            @if (users$ | async ) {
                @for (user of (users$ | async); track $index) {
                    @if ($index <= 3) {
                        <app-users-profiles [userData]="user"></app-users-profiles>
                    }
                }
            }
            <button class="bg-white text-mainGrey rounded-xl py-1 px-1 font-bannerText text-sm">Show More</button>
        </div>
    </div>

</div>

<div class="w-full py-3">
    @for (post of posts; track post._id; let idx = $index) {
            <div class="w-full mx-auto p-4">
                <div class="bg-white p-4 rounded-lg shadow mb-6 w-full">
                    @if (post.image_urls?.length) {
                        <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-2">
                            @for (img of post.image_urls; track $index) {
                                <img [src]="img" class="rounded-xl" alt="">
                            }
                        </div>
                    }
                    <p class="text-mainGrey text-sm pt-5">
                        {{ post.description }}
                    </p>
                    <div class="flex w-full">
                        <div class="ml-auto flex gap-3 pr-3">
                            @if (post.likes.includes(user_id)) {
                                <i class="fa-solid fa-heart text-red-600 text-2xl cursor-pointer" (click)="likeTrigger(post.employer_id,post._id)"></i>
                            } @else {
                                <i class="fa-regular fa-heart text-2xl text-mainGrey cursor-pointer" (click)="likeTrigger(post.employer_id,post._id)"></i>
                            }
                            <i class="fa-regular fa-comment text-2xl text-mainGrey cursor-pointer"></i>
                            <i class="fa-regular fa-bookmark text-2xl text-mainGrey cursor-pointer"></i>
                        </div>
                    </div>
                </div>
            </div>
    }
</div>