<div class="container mx-auto px-4 sm:px-6 lg:px-8 py-8">
    <!-- Job Picks Section -->
    <section class="">
      <h2 class="text-2xl sm:text-3xl font-bold text-mainGrey mb-6">Top Job Picks for You</h2>
      <div class="relative">
        <div class="flex overflow-x-auto gap-4 pb-4 snap-x snap-mandatory">
          @if (jobs$ | async) {
            @for (job of (jobs$ | async); track $index) {
              @if ($index <= 5) {
                <a [routerLink]="['/user/job', 'user', job._id]" class="snap-start flex-none w-72 sm:w-80">
                  <app-job [jobData]="job" class="h-full"></app-job>
                </a>
              }
            }
          }
          <a routerLink="/user/jobs" class="my-auto"><i class="fa-solid fa-circle-arrow-right text-3xl text-mainColor"></i></a> 
        </div>
      </div>
    </section>
  
    <!-- Let's Connect Section -->
    <section class="mb-10">
      <h2 class="text-2xl sm:text-3xl font-bold text-mainGrey mb-6">Let's Connect</h2>
      <div class="bg-gradient-to-br from-slate-100 to-slate-200 rounded-xl shadow-lg p-6">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
          @if (users$ | async) {
            @for (user of (users$ | async); track $index) {
              @if ($index <= 5) {
                <users-profile [userData]="user" class="bg-white rounded-lg shadow-md transition duration-300 hover:shadow-xl"></users-profile>
              }
            }
          }
        </div>
            <button routerLink="/user/networks" class="mt-6 w-full bg-white text-mainGrey rounded-lg py-2 px-3 font-bannerText text-sm hover:bg-white/80 transition duration-300">Show More Connections</button>
      </div>
    </section>
  
    <!-- Recent Posts Section -->
    <section>
      <h2 class="text-2xl sm:text-3xl font-bold text-mainGrey mb-6">Recent Posts</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        @if (posts$ | async) {
          @for (post of (posts$ | async); track post._id) {
            @if ($index <= 5) {
                <app-post [post]="post" class="bg-white rounded-lg shadow-md hover:shadow-xl transition duration-300"></app-post>
            }
          }
        }
      </div>
    </section>
  </div>