<div class="flex flex-col md:flex-row justify-between items-center p-5">
    <div class="flex flex-col w-full md:w-1/2 p-5">
        <div class="flex flex-col items-center">
            <h1 class="text-black text-xl font-bannerText text-center">Welcome <span>👋</span></h1>
            <span class="text-black text-sm font-bannerText text-center mt-2">Please, enter your details and start your&nbsp;<h1 class="text-mainColor inline">Job Hunt</h1></span>
        </div>

        <div class="flex justify-center mt-5">
            <div class="text-sm font-medium text-center text-gray-500 border-b border-gray-200">
                <ul class="flex flex-wrap -mb-px">
                    <li class="mr-2">
                        <p class="inline-block p-4 text-mainColor border-b-2 border-mainColor rounded-t-lg">Log In</p>
                    </li>
                    <li class="mr-2">
                        <p class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 cursor-pointer" (click)="redirectSignUp()">Register</p>
                    </li>
                </ul>
            </div>
        </div>

        <form [formGroup]="loginForm" (ngSubmit)="submitLogin()" class="mt-5">
            <div class="grid grid-cols-1 gap-5">
                <div class="flex flex-col">
                    <tui-input formControlName="email">
                        Email
                        <input tuiTextfield type="email" class="w-full"/>
                    </tui-input>
                    <small *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="text-red-500 font-bannerText">*email required</small>
                </div>
            
                <div class="flex flex-col">
                    <tui-input-password class="tui-space_top-2" formControlName="password">
                        Password 
                    </tui-input-password>
                    <small *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-red-500 font-bannerText">*password required</small>
                </div>
            </div>

            <div class="mt-5">
                <button class="w-full py-3 font-bannerText rounded-full bg-mainColor text-white" type="submit">Submit</button>
                <div class="flex mt-2">
                    <a class="mr-auto text-xs text-mainColor font-bannerText cursor-pointer" (click)="forHiring()">For Hiring?</a>
                    <a class="ml-auto text-xs text-mainColor font-bannerText cursor-pointer" (click)="forgotPassword()">Forgot password?</a>
                </div>
            </div>
        </form>

        <div class="flex items-center mt-5 w-full">
            <div class="border-b border-thirdGrey flex-grow"></div>
            <h1 class="text-sm font-bannerText text-thirdGrey mx-2">Or</h1>
            <div class="border-b border-thirdGrey flex-grow"></div>
        </div>

        <div class="my-5">
            <div id="google-btn" class="flex border-2 rounded-full border-mainColor justify-center items-center mt-4">
                <!-- Google Button Content -->
            </div>
        </div>
    </div>

    <div class="hidden md:flex w-1/2 bg-cover bg-center rounded-lg justify-center items-center">
        <!-- Image content -->
    </div>
</div>