<div class="flex-col bg-white rounded-xl shadow-xl w-full h-full">

    <div class="flex justify-between px-5 pt-5 w-full">
        <span class="flex text-mainGrey text-sm font-bannerText"><i class="fa-solid fa-pen text-sm text-mainColor pr-1"></i>About</span>
        <span class="flex text-mainGrey text-sm font-bannerText items-start"><i class="fa-solid fa-pen text-sm pr-1"></i>Edit</span>
    </div>
    
    <div class="flex justify-between py-5 px-5 w-full">
        <div class="flex">
            <div class="h-auto bg-orange-500 w-5"></div> <!-- Vertical line -->
            <p class="font-bannerText pl-3">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
        </div>
    </div>

</div>


